<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TrainNavigationService.RestService/src/com/traintrax/navigation/service/rest/service/Service.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.traintrax.navigation.service.rest.service.Service"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--mdu-port=COM12 --pr3-port=COM10"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TrainNavigationService.RestService"/>
</launchConfiguration>
